.navbar {

    background-color: #19A7CE;
}

.navbar-brand {
    font-size: 25px;

}

body {
    background-color:#F6F1F1;
}

footer {
    background-color: #19A7CE;
    text-align: center;
    flex-shrink: 0;
   
}
footer p {
    margin: 0 10px;
    display: inline-block;
    font-size: 20px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
} 




/* loginform */


/* h2 {
    text-align: center;
    margin-top: 50px;
}

.btn {
  margin-top: 10px;
  margin-right: 125px;
 
    
}
.form-group{
    margin-top: 15px;
}

.form-control {
    width: 60%;
    margin: 0 auto; 
}

.registerlink {
    text-align: center;
    font-size: 20px;
}

.form-control::placeholder {
    text-align: center;
  } 


  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  } */
