.navbar {

    background-color: #19A7CE;
}

.navbar-brand {
    font-size: 25px;

}

body {
    background-color:#F6F1F1;
}

footer {
    background-color: #4FBDBA;
    text-align: center;
    flex-shrink: 0;
   
}
footer p {
    margin: 0 10px;
    display: inline-block;
    font-size: 20px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/* registerform*/

/* 

h2 {
    text-align: center;
    margin-top: 50px;
  
}

.btn {
  margin-top: 10px;
 
  margin-bottom: 50px;
 
}


.form-control {
    width: 50%;
    margin-left: 20px;
}


label {
    margin-left: 20px;
} */

.form-floating mb-3{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
      
      
    
}